
<div class="page-header">
  <h1>All of the Users</h1>
</div>

<%= link_to "Post a New User", new_user_path, class: "btn btn-success" %>

<% @users.each do |user| %>
<div class="users">
  <strong><%= user.name %></strong>
  <p><%= user.email %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(user.created_at) + " ago", user %> 
    <span class="admin">
      | <%= link_to "Edit", edit_user_path(user) %> | 
      <%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure your want to delete this users list?"} %>
    </span>
  </div>
</div>
<% end %>